body{
    min-height: 500vh;
}
.ejemplo1{
    background-color: gray;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.ejemplo1:hover{
    background-color: green;
    color: black;
    transition: 1s all ease;
    transform: scale(1.2)
}
 .caja1{
    width: 200px;
    height: 200px;
    background-color: darkgreen;
    position: relative;
    z-index: 5;
}
.caja1::before{
    content: 'Hola, soy el ejercicio 2';
    position: absolute;
    top: 4rem;
    right: 2rem;
    font-weight: 700;
    color: white;
}
.caja-rel{
    width: 100px;
    height: 100px;
    background-color: darkcyan;
    position: relative;
    right: -30rem;
}
.caja-ab{
    width: 100px;
    height: 100px;
    background-color: darkcyan;
    position: absolute;
    right: 10rem;
    top: 20rem;
}
.caja-fi{
    width: 100px;
    height: 100px;
    background-color: darkcyan;
    position: fixed;
    right: 0;
    bottom: 1rem    ;
}
.caja-sti{
    width: 100px;
    height: 100px;
    background-color: darkcyan;
    position: sticky;
    top: 0;
}
.posicionado1{
    width: 450px;
    height: 200px;
    background-color: skyblue;
    top: 0;
}
.posicionado2{
    width: 450px;
    height: 200px;
    background-color: red;
    position: relative;
    top: -9rem;
    left: 3rem;
}
.posicionado3{
    width: 450px;
    height: 200px;
    background-color: gray;
    position: relative;
    top: -17rem;
    left: 10rem;
}
.posicionado4{
    width: 200px;
    height: 170px;
    background-color:lawngreen;
    position: relative;
    top: -33rem;
    left: 5rem;
}